<html>
    <head>
        {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>fffffffffffffffffffffffffffffffffffffffffffff</title>
        {% endif %}
    </head>
    <body>
        <div>microblog: <a href="/index">Home</a></div> 
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>


<!--<a> tag is for hyperlink with href(hypertext reference) attribute
    which is the destination
    <div> is a division or section in an HTML
    <hr> (horizontal rule) is a tag that defines a themetic break 
    or horizontal rule 
-->